body {
  background-color: #ffcfcf;
}

h1, h2 {
  color: #44594c;
}

h1 {
  font-size: 35px;
}

.fixedcol {
  z-index: 1;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 200px;
  overflow: hidden;
}

.fixedcol li a {
  display: block;
  padding: 8px 16px;
}

.fixedcol li a:hover {
  color: #ffffff;
  background-color: #3a5e4c;
}

.fixedcol ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.maincol {
  margin-left: 200px;
  padding: 0px 10px;
}
