body {
  background-color: #e4e6cf;
}

h1, h2 {
  color: #44594c;
}

h1 {
  font-size: 35px;
}

fixedcol {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 200px;
}

maincol {
  margin-left: 160px;
}
